*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    background-color: bisque;
}

header, footer{
    height: 60px;
    background: #222831;
    color: white;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

article{
    width: 65vw;
    margin: 0 auto;
    padding: 40px;
    
}

figure{
    margin-bottom: 40px;
}

img{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
    transition: 0.2s transform;
}
img:hover{
    transform: scale(1.05);
}


p{
    margin-bottom: 20px;

}

p:last-of-type{
    margin-bottom:0;
}


figcaption{
    font-size: 80%;
    font-style: italic;
}
audio{
    display: block;
    margin-top: 20px;
}

video{
    width: 100%;
    margin-bottom: 40px;;
}

footer{
    height: 60px;
    display:flex;
    align-items: center;
    
}
footer > p{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
   
}

@media screen and (max-width:1000px){
    article{
        background: bisque;
        width:80vw;
       
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform:none;
    }
}
@media screen and (max-width:600px){
    article{
        background: bisque;
        width: 100vw;
    }
    